{% extends "global/base.html" %}

{% block content %}
	{% if page_obj %}
		<div class="responsive-table">
			<table class="viagens-table">
				<caption class="table-caption">
					Cadastro de Viagens
				</caption>

				<thead>
					<tr class="table-row table-row-header">
						<th class="table-header">ID</th>
						<th class="table-header">Sinistro</th>
						<th class="table-header">Seguradora</th>
						<th class="table-header">Carro</th>
						<th class="table-header">Placa</th>
						<th class="table-header">Cliente</th>
						<th class="table-header">Data</th>
					</tr>
				</thead>

				<tbody>
					{% for viagem in page_obj %}
						<tr class="table-row">
							<td class="table-cel">
								<a href="{% url 'viagens:viagem' viagem.id %}" class="table-link">
									{{ viagem.id }}
								</a>
							</td>
							<td class="table-cel">
								<a href="{% url 'viagens:viagem' viagem.id %}" class="table-link">
									{{ viagem.sinistro }}
								</a>
							</td>
							<td class="table-cel">
								{{ viagem.seguradora.nome_seguradora }}
							</td>
							<td class="table-cel">
								{{ viagem.carro.modelo }}
							</td>
							<td class="table-cel">
								{{ viagem.carro.placa }}
							</td>
							<td class="table-cel">
								{{ viagem.contato.nome }}
							</td>
							<td class="table-cel">
								{{ viagem.data }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

	{% else %}

		<div class="single-viagem">
			<h1 class="single-contact table-cel">
				Nenhuma viagem encontrada!
			</h1>
		</div>

{% endif %}

{% endblock content %}